*~
*.swp
*.orig
hdl/syn/*.runs*

######################
# Compilation files
######################

*Makefile
*transcript
*make_*
*_history

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

######################
# Python files
######################
__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg-info/
*.egg

/platform/xilinx/artix7/chipscope/ila_t8_d256_s4096_cap
!/platform/xilinx/artix7/chipscope/ila_t8_d256_s4096_cap/ila_t8_d256_s4096_cap.xci
!/platform/xilinx/artix7/chipscope/ila_t8_d256_s4096_cap/Manifest.py
/platform/xilinx/artix7/chipscope/ila_t8_d256_s8192_cap
!/platform/xilinx/artix7/chipscope/ila_t8_d256_s8192_cap/ila_t8_d256_s8192_cap.xci
!/platform/xilinx/artix7/chipscope/ila_t8_d256_s8192_cap/Manifest.py
/platform/xilinx/artix7/chipscope/vio_din2_w64_dout2_w64
!/platform/xilinx/artix7/chipscope/vio_din2_w64_dout2_w64/vio_din2_w64_dout2_w64.xci
!/platform/xilinx/artix7/chipscope/vio_din2_w64_dout2_w64/Manifest.py
/platform/xilinx/artix7/chipscope/vio_din2_w128_dout2_w128
!/platform/xilinx/artix7/chipscope/vio_din2_w128_dout2_w128/vio_din2_w128_dout2_w128.xci
!/platform/xilinx/artix7/chipscope/vio_din2_w128_dout2_w128/Manifest.py
